---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

export type Props = CollectionEntry<"portfolio">;

const project = Astro.props;
---

<a
	class="project-card border-on-dark"
	href={`/portfolio/${project.slug}`}
	title={project.data.title}
>
	<figure>
		<div>
			<Image
				src={project.data.videoBanner}
				alt="A preview of the project's homepage"
				width={300}
			/>
		</div>
		<figcaption class="h5">
			{project.data.name}
		</figcaption>
	</figure>
	<div class="project-card__content">
		<div class="project-card__desc">
			{project.data.description}
		</div>
		<div class="project-card__timeframe">
			<span>Started on:</span>
			<time datetime={project.data.startedOn.toISOString()}>
				{project.data.startedOn.toLocaleDateString()}
			</time>
		</div>
	</div>
</a>
<style lang="scss">
	@use "@/styles/mixins/sizes.scss" as *;

	.project-card {
		background-color: hsl(var(--clr-background));

		figcaption {
			padding-top: 1rem;
			padding-bottom: 0.5rem;
		}

		figcaption,
		.project-card__content {
			padding-inline: 1rem;
		}

		.project-card__content {
			font-weight: 400;
		}

		.project-card__desc {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.project-card__timeframe {
			padding-top: 1rem;
			padding-bottom: 0.5rem;

			color: hsl(var(--clr-muted-foreground));
		}

		transition-property: transform, box-shadow;

		&:hover {
			opacity: 1;
			transform: scale(1.025);
			--_shadow: 0px 1px 1px hsl(0 0% 0% / 0.1),
				0px 2px 2px hsl(0 0% 0% / 0.1), 0px 4px 4px hsl(0 0% 0% / 0.1),
				0px 8px 8px hsl(0 0% 0% / 0.1);
		}

		width: 300px;

		display: inline-flex;
		flex-direction: column;

		border-radius: var(--radius);

		overflow: hidden;

		--_shadow: 0px 1px 1px hsl(0 0% 0% / 0.1),
			0px 2px 2px hsl(0 0% 0% / 0.1), 0px 4px 4px hsl(0 0% 0% / 0.1),
			0px 8px 8px hsl(0 0% 0% / 0.1), 0px 16px 16px hsl(0 0% 0% / 0.1);
	}
</style>
